body {
    margin: 20px;
    font: 16px 'Open Sans', sans-serif;
    font-family: 'Inter', sans-serif;
    color: #000;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

.header-links a, .contact a, .summary-list-item a {
    display: inline-block;
    color: #000;
    text-decoration: none;
    transition: ease .8s all;
    padding: 10px 15px;
    margin: .5em 0;
    font-family: 'Inter', sans-serif;
}
.header-links a {
    color: #333;
    font-weight: 600;
}
.header-links a, .contact a, .summary-list-item a {
    border: none;
}
.header-links a:hover, .contact a:hover, .summary-list-item a:hover {
    opacity: 0.5;
    text-decoration: underline;
    border: none;
    margin-top: 0.2em;
}
.summary-list-item a {
    text-decoration: underline;
}
ul {
    list-style: none;
    display: flex;
    padding: 0;
    justify-content: center;
    font-family: 'Inter', sans-serif;
}
@media (min-width: 600px) {
    ul {
        justify-content: flex-end;
    }
}
li {
    padding: 0.5em;
}
.page article {
    padding: 1em 3em 2em;
    max-width: 1000px;
    margin: auto;
    width: 100%;
}
@media (min-width: 600px) {
.page article {
    width: 80%;
    padding-bottom: 4em;
    }
}
.home .my-intro {
    height: 85vh;
    width: 100%;
    background: #fff;
    margin: 15% 0 0 0;
}
@media (min-width: 600px) {
    .home .my-intro {
    width: 80%;
    margin-left: auto;
    }
}
.entry-content header {
    background: #d8a158;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    justify-content: center;
    margin: auto;
}
@media (min-width: 600px) {
    .entry-content header {
        width: 75%;
    }
}
.info h2 {
    font-size: 3rem;
    text-align: center;
    font-family: 'Inter', sans-serif;
    text-transform: uppercase;
    margin-top: 15%;
}
@media (min-width: 986px) {
    .info h2 {
        font-size: 5rem;
    }
}
.info h3 {
    font-size: 2em;
    margin: 3em;
    text-align: center;
}
@media (min-width: 502px) {
.info h3 {
    font-size: 2.5em;
    }
}
.info p {
    text-align: center; 
    margin: 3em;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    font-size: 0.75rem;
}
@media (min-width: 836px) {
    .info p {
        font-size: 1rem;  
    }
}
.contact {
    margin: 10% 0;
}
.contact a {
    color: #fff;
    background: #000;
}
.contact h2 {
    color: #000;
    margin: 0;
    margin: 0 0 2%;
    font-size: 1.75rem;
    text-align: center;
}
@media (min-width: 600px) {
    .contact h2 {
    padding-left: 0.2em;
    }
}
@media (min-width: 992px) {
    .contact h2 {
        padding: 0;
    }
}
.contact p {
    margin: 0 0 3em;
    text-align: center;
}
@media (min-width: 992px) {
    .contact p {
        text-align: center;
        padding-left: 0;
    }
}
section {
    width: auto;
    background: #bdd1e7;
}
@media (min-width: 600px) {
    section {
        width: 75%;
        margin: auto;
    }
}
section .about-me {
    margin-top: 3em;
}

.about-me {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    /* padding: 1.5em; */
}
.about-me h1 {
    font-family: 'Inter', sans-serif;
    font-size: 1.75rem;
    margin-bottom: 5%;
    color: #000;
    text-align: center;
}
@media (min-width: 992px) {
    .about-me h1 {
        text-align: left;
        padding-left: 2em;
    }
}
.about-me p {
    margin-bottom: 10%;
    text-align: center;
}
@media (min-width: 992px) {
    .about-me p {
        text-align: left;
        padding-left: 3em;
    }
}
.about-me .about-me-summary {
    margin-bottom: 5%;
    font-size: 1.2rem;
}
.about-me-summary p {
    padding: 3em;
}

ul.tech-skills {
    flex-direction: column;
    font-family: 'Inter', sans-serif;
    font-size: 1.2rem;
}
.me {
    display: flex;
    flex-direction: column;
    /* padding-top: 0.4em; */
}
@media (min-width: 992px) {
    .me:nth-of-type(4) {
        align-self: flex-end;
    }
}
.me h1 {
    text-align: right;
    padding-right: 0.4em;
}
.me p {
    padding: 4em;
}
@media (min-width: 992px) {
.me p {
    text-align: left;
    padding-left: 15vw;
    font-size: 1.25rem;
    }
}
.skills-container {
    margin-top: 15%;
    text-align: center;
}
@media (min-width: 992px) {
    .skills-container {
        text-align: right;
        padding-right: 3em;
    }
}
.about-me h2 {
    font-size: 1.75rem;
    color: #000;
    font-family: 'Inter', sans-serif;
}
.about-me h2:nth-of-type(2) {
    text-align: right;
}
@media (min-width: 600px) {
    .about-me h2:nth-of-type(2) {
        text-align: left;
    }
}
.self {
    text-align: center;
    font-size: 1.25rem;
}
.overlay-container {
    display: flex;
    justify-content: center;
    position: relative;
    max-width: 100%;
}
img.image {
    display: block;
    width: 100%;
    height: auto;
}
@media (min-width: 992px) {
    .overlay-container img.image {
        width: 50%;
        margin: auto;
        }
}
.overlay {
    position: absolute;
    opacity: 0;
    transition: .5s ease;
    background-color: #000;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
}
@media (min-width: 992px) {
    .overlay {
        opacity: 0.75;
        width: 50%;
        left: 25%;
        margin: 3em;
        }
}
.overlay-container:hover .overlay {
    opacity: 0.25;
}
.overlay-text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 25%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}
footer {
    /* background: #f1d9d8; */
    margin-top: 6vh;
    padding: 2% 15%;
}
footer#colophon {
    text-align: center;
    padding: 3% 3%;
    width: auto;
}
@media (min-width: 600px) {
    footer#colophon {
        width: 69%;
        margin: auto;
    }
}
@media (min-width: 768px) {
    footer#colophon {
    margin: 4em auto;
    }
}
/* --- projects template styles --- */
section.project-section {
    background: #f1d9d8;
    /* border-top-right-radius: 8%;
    border-bottom-left-radius: 8%; */
}
ul.summary-list {
    display: flex;
    flex-direction: column;
    text-align: center;
}
@media (min-width: 768px) {
    ul.summary-list {
        text-align: left;
    }
}
.projects-summary h1 {
    text-align: center;
    font-size: 2rem;
    border-bottom: 1.5px solid #00000059;
    padding: 1em;
}
.projects-summary h1:nth-of-type(2) {
    padding: 0 0 1em 0;
}
li.summary-list-item {
    padding-left: 3em;
}
li.summary-list-item a {
    text-transform: uppercase;
    padding-left: 0;
    font-size: 1.25rem;
    font-weight: 600;
}

li.summary-list-item a:hover {
    text-decoration: underline;
    opacity: 0.5;
}
.project-card h3 {
    font-family: 'Inter', sans-serif;
}
.summary-list-item p:nth-of-type(odd) {
    font-size: 0.75rem;
    font-weight: 600;
}
.summary-list-item p:nth-of-type(even) {
    font-family: 'Inter', sans-serif;
}
.github-button {
    text-align: center;
    padding: 1em 1em 2em 1em;
}
.github-button a {
    color: #fff;
    background: #000;
    display: inline-block;
    text-decoration: none;
    transition: ease .8s all;
    padding: 10px 15px;
    margin: .5em 0;
    font-family: 'Inter', sans-serif;
}
.github-button a:hover {
    opacity: 0.5;
    text-decoration: underline;
    border: none;
    margin-top: 0.2em;
}
/* .projects-footer {
    background: #d8f1d9;
} */

/* --- me template styles --- */
.temp-me {
    background: #1c5f4a;
}
/* @media (min-width: 992px) {
img.image.city-img {
    width: 50%;
    }
} */
/* .city-img {
    padding: 0;
    border: 5px solid #000;
} */
.about-me-description .me {
    padding: 2em;
}
/* figure {
    display: flex;
    flex-direction: column;
}
figcaption {
    font-size: 0.75rem;
    font-weight: 600;
}
@media (min-width: 992px) {
    figure:nth-of-type(2) {
        align-items: flex-end;
    }
} */
.first-letter {
    font-size: 2.2rem;
  }
  .summary-list-item .github a:nth-of-type(2) {
    text-transform: lowercase;
    font-size: 1rem;
    font-weight: 400;
  }
