body {
  margin: 20px;
  font: 16px 'Open Sans', sans-serif;
}
body {
    font-family: 'Inter', sans-serif;
    background:#ffcdd2;
    color: #000;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}
/* @media (min-width: 768px) {
    body {
        background:#ffc864;
    }
}
@media (min-width: 992px) {
    body {
        background: #c3f0c8;
    }
} */
.header-links a, .contact a, .summary-list-item a {
    display: inline-block;
    color: #000;
    text-decoration: none;
    transition: ease .8s all;
    padding: 10px 15px;
    margin: .5em 0;
    font-family: 'Inter', sans-serif;
}
.header-links a, .contact a, .summary-list-item a {
    border: none;
}
.header-links a:hover, .contact a:hover, .summary-list-item a:hover {
    opacity: 0.5;
    text-decoration: underline;
    border: none;
    margin-top: 0.2em;
}
.summary-list-item a {
    text-decoration: underline;
}
ul {
    list-style: none;
    display: flex;
    padding: 0;
    justify-content: space-evenly;
    font-family: 'Inter', sans-serif;
}
li {
    padding: 0.5em;
}
.page article {
    background: #ffff;
    opacity: 0.85;
    padding: 1em 3em 2em;
    max-width: 1000px;
    margin: auto;
    width: 100%;
}
@media (min-width: 600px) {
.page article {
    width: 80%;
    padding-bottom: 4em;
    }
}
.home .my-intro {
    height: 85vh;
    width: 100%;
    background: #fff;
    opacity: 0.85;
    margin: 15% 0 0 0;
}
@media (min-width: 600px) {
    .home .my-intro {
    width: 80%;
    margin-left: auto;
    }
}
.entry-content header {
    background: #ffffff;
    opacity: 0.85;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    justify-content: center;
    margin: auto;
}
@media (min-width: 600px) {
    .entry-content header {
        width: 75%;
    }
}
.info h2 {
    font-size: 3rem;
    text-align: center;
    font-family: 'Inter', sans-serif;
    text-transform: uppercase;
    margin-top: 15%;
}
@media (min-width: 986px) {
    .info h2 {
        font-size: 5rem;
    }
}
.info h3 {
    font-size: 2em;
    margin: 3em;
    text-align: center;
}
@media (min-width: 502px) {
.info h3 {
    font-size: 2.5em;
    }
}
.info p {
    text-align: center; 
    margin: 3em;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    font-size: 0.75rem;
}
@media (min-width: 836px) {
    .info p {
        font-size: 1rem;  
    }
}
.contact {
    margin: 10% 0;
}
.contact a {
    color: #fff;
    background: #000;
}
.contact h2 {
    color: #000;
    margin: 0;
    margin: 0 0 2%;
    font-size: 1.75rem;
    text-align: center;
}
@media (min-width: 600px) {
    .contact h2 {
    padding-left: 0.2em;
    }
}
@media (min-width: 992px) {
    .contact h2 {
        padding: 0;
    }
}
.contact p {
    margin: 0 0 3em;
    text-align: center;
}
@media (min-width: 992px) {
    .contact p {
        text-align: center;
        padding-left: 0;
    }
}
section {
    width: auto;
    background: #ffffff;
    opacity: 0.85;
    /* margin-top: 3em; */
}
@media (min-width: 600px) {
    section {
        width: 75%;
        margin: auto;
    }
}
.about-me {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    padding: 1.5em;
}
.about-me h1 {
    font-family: 'Inter', sans-serif;
    font-size: 1.75rem;
    margin-bottom: 5%;
    color: #000;
}
.about-me p {
    margin-bottom: 3%;
}
.about-me .about-me-summary {
    margin-bottom: 5%;
    font-size: 1.2rem;
}
ul.tech-skills {
    flex-direction: column;
    font-family: 'Inter', sans-serif;
    font-size: 1.2rem;
}
.skills-container {
    margin-top: 15%;
    text-align: center;
}
@media (min-width: 992px) {
    .skills-container {
        margin-top: 5%;
        text-align: right;
        padding-right: 3em;
    }
}
.about-me h2 {
    font-size: 1.75rem;
    color: #000;
    font-family: 'Inter', sans-serif;
}
.about-me h2:nth-of-type(2) {
    text-align: right;
}
@media (min-width: 600px) {
    .about-me h2:nth-of-type(2) {
        text-align: left;
    }
}
.self {
    text-align: center;
    font-size: 1.25rem;
}
.overlay-container {
    display: flex;
    justify-content: center;
    position: relative;
    max-width: 100%;
}
img.image {
    display: block;
    width: 100%;
    height: auto;
}
@media (min-width: 992px) {
    .overlay-container img.image {
        width: 75%;
        }
}
.overlay {
    position: absolute;
    opacity: 0;
    transition: .5s ease;
    background-color: #000;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
}
@media (min-width: 992px) {
    .overlay {
        width: 75%;
        left: 12.5%;
        }
}
.overlay-container:hover .overlay {
    opacity: 0.85;
}
.overlay-text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}
footer {
    background: #ffffff;
    opacity: 0.85;
    margin-top: 6vh;
    padding: 2% 15%;
}
footer#colophon {
    text-align: center;
    padding: 3% 3%;
    width: auto;
}
@media (min-width: 600px) {
    footer#colophon {
        width: 69%;
        margin: auto;
    }
}
@media (min-width: 768px) {
    footer#colophon {
    margin: 4em auto;
    }
}
/* --- resume template styles --- */
table.highlight.tab-size.js-file-line-container {
    background: #faf9fa;
    opacity: 0.85;
}
body .gist .gist-file {
    margin-bottom: 0;
    border-radius: 0;
  }
  
  body .gist .gist-data {
    border-bottom: none;
    border-radius: 0;
    background-color: #f1f3f5;
  }
  
  body .gist .blob-wrapper {
    border-radius: 0;
  }
  
  body .gist .highlight {
    background-color: transparent;
    font-size: 14px;
  }
  
  body .gist .highlight td {
    padding: 5px 15px !important;
    line-height: 1;
    font-family: inherit;
    font-size: inherit;
  }
  
  body .gist tr:first-child td {
    padding-top: 15px !important;
  }
  
  body .gist tr:last-child td {
    padding-bottom: 15px !important;
  }
  
  body .gist .blob-num {
    color: #ced4da;
    background-color: #495057;
    pointer-events: none;
  }
  
  body .gist .gist-meta {
    display: none;
  }
/* --- projects template styles --- */
ul.summary-list {
    display: flex;
    flex-direction: column;
    text-align: center;
}
@media (min-width: 768px) {
    ul.summary-list {
        text-align: left;
    }
}
li.summary-list-item {
    border-bottom: 1.5px solid #00000059;
}
li.summary-list-item a {
    text-transform: uppercase;
    padding-left: 0;
    font-size: 1.25rem;
    font-weight: 600;
}

li.summary-list-item a:hover {
    text-decoration: underline;
    opacity: 0.5;
}
.project-card h3 {
    font-family: 'Inter', sans-serif;
}
.summary-list-item p:nth-of-type(odd) {
    font-size: 0.75rem;
    font-weight: 600;
}
.summary-list-item p:nth-of-type(even) {
    font-family: 'Inter', sans-serif;
}